*{
    font-family: "Nerko One", cursive;
    margin-top: 0%;
}
#container{
    width:100%;
    /* height:100vh;  */
    
    background-image:url(./images/Cafe_wallpaper_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
#navbar{
    display: flex;
    width:85%;
    margin:10px  70px;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}
#logo{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width:190px;
    
}
.listItem{
    display:inline-block;
    margin:10px 20px;
}
.listItem a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
}
.listItem a:hover{
    text-decoration: underline;
    color:rgb(82, 143, 33);
}
#ul2{
    padding-left: 0;
    float: left;
}

#b1{
    width: 100%;
    text-align: center;  
    color:rgb(255, 255, 255);
}
#title{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
#h1{
    width: 30%;
    margin-top: 20px;
    margin-left: 425px;
    font-size: 70px;
    font-weight: 300px;
}
.para{
    color: black;
}
#read{
    color: beige;
}

/* ABOUT */
#about{
    padding-top:6% ;
    background-image: url(./images/about.jpeg);
}
.heading{
    text-align: center;
}
#div1p{
    margin-top: 30px;
    text-align: justify;
    margin-left: 45px;
}
#about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    margin-top: 2rem;
}
#img1{
    width: 85%;
}
#h2{
    margin-top: 40px;
}

/* specials */
#special{
    padding-top: 6%;
    background-image: url(./images/about.jpeg);
    background-size: cover;
    
}
#sp-contents{
    
    display: grid;
    grid-template-columns: repeat(4,8fr);
    column-gap: 8px;
    margin: 0px 10px;
    padding: 40px;
}
#divcake{
    position: relative;
}
.sps{
    width: 250px;
    height: 300px;
}
.sps:hover{
    opacity: 0.5;
    display: block;
    width: 100%;
    height: 350px; 
    transition: .5s ease;
    /* backface-visibility: hidden; */
}
.spp{
    text-align: center;
    font-size: 20px;
}

/* menu */
#menu{
    padding-top: 6%;
    background-image: url(./images/about.jpeg);
    background-size: cover;
    
}
#cakes{
    display: flex;
}
#menu-content{
    margin: 0px 30px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,4fr);
    column-gap: 2px;
}

/* review */
#review{
    padding-top: 6%;
    background-image: url(./images/about.jpeg);
    background-size: cover;
    
}
#review-content{
    display: grid;
    grid-template-columns: repeat(3,7fr);
    column-gap: 8px;
    margin: 0px 20px;
}
.review1{
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rimg{
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.h3{
    margin-top: 10px;
}

/* contacts */
#contact{
    padding-top: 6%;
    background-image: url(./images/about.jpeg);
    background-size: cover;
    
}
.contacts-contents{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.icons ,#up-arrow{
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    border-radius: 50%;

}
.icons:hover{
    background-image: linear-gradient(to bottom right, rgb(146, 77, 34),rgb(178, 149, 96));
}
.icons:hover a{
    color: white;
}
.icons:hover i{
    animation: shake 0.75s;
}
html{
    scroll-behavior: smooth;
}
.diff{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    text-align: center;
}
.fa-twitter,.fa-github ,.fa-linkedin-in ,.fa-whatsapp ,.fa-instagram ,.fa-facebook ,.fa-phone,.fa-envelope{
    color: black;
}
.diff1{
    background-image: url(./images/about.jpeg);
    background-size: cover;
    padding-top: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}